<p-panel header="Tìm kiếm" [style]="{'margin-top': '10px','text-align': 'left'}">
    <div class="form-group">
        <label for="usr">Mã sản phẩm:</label>
        <input [disabled]="ten_san_pham != null && ten_san_pham != ''" [(ngModel)]="ma_san_pham" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="usr">Tên sản phẩm</label>
        <input [disabled]="ma_san_pham != null && ma_san_pham != ''" [(ngModel)]="ten_san_pham" type="text" class="form-control">
      </div>
      <div class="form-group" style="text-align: right; margin-top: 10px;">
        <button (click)="TimKiem()" type="button" class="btn btn-danger"><i class="fa fa-search"></i> Tìm kiếm</button>
      </div>
</p-panel>
<br>
<p-table [value]="data" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Đơn vị tính</th>
            <th>Đơn giá</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>
                <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td>{{product.code}}</td>
            <td>{{product.name}}</td>
            <td>{{product.dvt}}</td>
            <td>{{product.gia}}</td>
        </tr>
    </ng-template>
</p-table>
